body {
    background-color: lightgrey;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0 auto;
    max-width: 400px;
    padding: 1rem;
}

h2 {
    background-color: lightblue;
    font-weight: bold;
    padding: 20px;
    margin: 0 auto;
}

p {
    border: 1px solid black;
    padding: 1rem;
    background-color: white;

}

p::first-child {
    margin-bottom: -1rem;
}